.titulo-mensaje-actividades {
    width: 100%;
    overflow-x: hidden !important;
    padding: 30px;
    background: linear-gradient(140deg, #bf7646 35%, rgba(53, 52, 58, 0.74) 0%);
}

.titulo-mensaje-eventos {
    width: 100%;
    overflow-x: hidden !important;
    padding: 30px;
    background: linear-gradient(220deg, #efce47 35%, rgba(53, 52, 58, 0.74) 0%);
}

.actividades {
    margin-left: 30px;
    color: white;
}

.fix-container-aos {
    overflow: hidden !important;
}

.eventos {
    margin-right: 30px;
}

@media only screen and (max-width: 990px) {
    .titulo-mensaje-actividades {
        background: linear-gradient(140deg, #bf7646 55%, rgba(53, 52, 58, 0.74) 0%);
    }

    .titulo-mensaje-eventos {
        background: linear-gradient(220deg, #efce47 55%, rgba(53, 52, 58, 0.74) 0%);
    }

    .actividades {
        margin-left: 10px;
    }

    .eventos {
        margin-right: 10px;
    }
}
